<div class="container">
    <div class="title row">
        <h2 class="font-italic text-muted text-center">חיפוש קבוצת מצביעים</h2>
    </div>
    <div class="row" style="float: right;">
        <form [formGroup]="phoneForm" (ngSubmit)="onSubmit()">

            <div class="form-group row col-md-4">
                <select name="traficLight" id="traficLight" class="form-control" formControlName="traficLight"
                    (change)="onChangeLight($event.target.value)">
                    <option value="" disabled selected>בחר צבע רמזור</option>
                    <option #clear [hidden]="clear.selected" style="font-weight: bold;">נקה בחירה</option>
                    <option style="background-color: green;">לין</option>
                    <option style="background-color: '#00a9f7';">נטיה ללין</option>
                    <option style="background-color: yellow;">לין או מועמד אחר</option>
                    <option style="background-color: yellow;">מתלבט</option>
                </select>
            </div>
    
            <div class="form-group row col-md-4">
                <select name="box" id="box" class="form-control" formControlName="box"
                (change)="onChangeBox($event.target.value)">
                    <option value="" disabled selected>בחר קלפי</option>
                    <option #clear [hidden]="clear.selected" style="font-weight: bold;">נקה בחירה</option>
                    <option *ngFor="let box of boxes">{{box.box}}</option>
                </select>
            </div>
    
            <div class="form-group row col-md-4">
                <select name="circle" id="circle" class="form-control" formControlName="circle"
                (change)="onChangeCircle($event.target.value)">
                    <option value="" disabled selected>בחר שם מעגל</option>
                    <option #clear [hidden]="clear.selected" style="font-weight: bold;">נקה בחירה</option>
                    <option *ngFor="let circle of circles">{{circle}}</option>
                </select>
            </div>

            <div class="row">
                <div class="form-group search row col-md-4">
                    <button class="btn btn-info">חיפוש</button>
                </div>
                <div class="col-md-4" style="float: left; cursor: pointer;" (click)="clearSearch()">
                    <span>נקה שדות חיפוש</span>
                </div>
            </div>
            
        </form>
    </div>
    
    <app-phone-list [data] = "data" *ngIf="showResult"></app-phone-list>
</div>